footer{
    background-image: url(https://nearfold.com/assets/img/footer-bg.png);
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
}

.socialicons{
    font-size: 35px;
    margin-left: 25px;
}

.socaildiv{
    display: flex;
}

.fsec-1{
    width: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin-right: 50px;
}

.fsec-2{
    width: 20%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

.contacticons{
    font-size: 30px;
    margin-left: 25px;
}

.contactwithtxt{
    display: flex;
margin-top: 10px;    
}

.footersec{
    position: absolute;
    display: flex;
top:35%;
left:10%;
}

.fsec-1 > div{
    margin-bottom: 20px;
}